/*Below allows all text with the included tags to be styled*/
/*using a google font called Playfair*/
h1,h2,h3,h4,h5,p,a,li,label,input{
    font-family: 'Playfair Display', serif;
}

/*-----NAVBAR SECTION-----*/
.navbar {
    border: 0;
    color: #f8f8f8;
}

.navbar-right{
    margin-right:5px;
}


/*-----LANDING SECTION-----*/

.landing-style {
    background-image: url(../img/landingimg.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    animation: landing-fadein 3s;
}

.landing_name {
    float: right;
    padding: 250px 0px 0px 0px;
    animation: fadein 3s, slide 4s;
}

.landing_title {
    float: right;
    animation: landing-fadein 3s, slide 2s;
    padding-left: 0px; /* keeps landing_title in line with landing_name by removing preset padding */
    padding-bottom:350px;
}

@keyframes landing-fadein {
    0% { opacity: 0; }
    10% { opacity: 0; }
    100% { opacity: .9; }
}

@keyframes slide {
    0% { margin-right: 150px; }
    100% { margin-right: 0px; }
}

/*-----ABOUT SECTION-----*/

.about_bio_title {
    padding: 190px 0px 0px 20px;
}

.about_headshot {
    padding-top: 20%;
    padding-left: 25%;
    width: 400px;
}




/*-----SKILLS SECTION-----*/

.skills_title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.skill_section {
    padding-top: 75px;
    text-align: center;
}

.skill_descriptions h2 {
    font-weight: bold
}

.skill_descriptions p {
    font-size: 18px;
}

.skill_descriptions ul {
    list-style: none;
}

.progress {
    position: relative;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.progress>.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(25, 25, 25, 0.2);
}

.progress>.progress-completed {
    position: absolute;
    right: 0px;
    font-weight: 800;
    padding: 3px 10px 2px;
}

.progress-section {
    margin: 100px 0px 0px 0px;

}


/*-----PROJECTS SECTION-----*/
.project_thumb:hover .project_desc {
  display: block;
  margin-bottom: 15px;
}

.project_desc{
    display:none;
    margin-bottom:10px;
}

.projects_blurb {
    padding-top: 5vh;
    text-align: center;
}

.project_thumb {
    padding-bottom:5%;
}

.fas {
    margin:10px;
}

/*-----CONTACT SECTION-----*/

.contact-style {
    background-image: url(../img/contactbg.jpg);
    background-size: cover;
    padding-top: 10vh;
    padding-bottom: 25vh;
    background-position: left;
    background-attachment: fixed;
}

.contact-top{
    padding-top:5%;
    padding-bottom:5%;
}
.contact-section textarea {
    resize: none;
}

.contact-blurb-padding {
    padding-top:5%;
}

.contact-blurb p{
    font-size:2rem;
    padding-top:7%;
}

.social-media-icon-padding{
    padding-top:2%;
}


/*-----FOOTER-----*/

footer {
    background-color:#f8f8f8;
}


/*-----MEDIA QUERIES-----*/

@media (max-width: 768px) {
    .about_headshot {
        padding-left:0px;
        width:100%;
    }
}
