.navbar {
    background: none;
    border: 0;
}

/*-----LANDING PAGE-----*/

.landing-section {
    background-image: url(../wireframes/landing-draft-2.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
}

.landing_text {
    float: right;
    padding: 250px 0px 0px 0px;
}


/*-----ABOUT PAGE-----*/

.about-section {
    background-image: url(../wireframes/about_draft2.png);
    background-size: cover;
    width: 100vw;
    padding-bottom: 20%;
    background-position: center;
}

.about_bio_title {
    padding: 250px 0px 0px 20px;
}

.about_img {
    padding-top: 10%;
    padding-left: 25%;
}

/*-----SKILLS PAGE-----*/

.skills-section {
    background-image: url(../wireframes/skills.png);
    background-size: cover;
    width: 100vw;
    background-color: lightblue;
    padding-bottom:25%;
}

.skills_title {
    text-align: center;
    padding-top: 50px;
}

.skill_section {
    padding-top: 75px;
    text-align: center;
}

.skill_section h2 {
    font-weight: bold
}

.skill_section p {
    font-size: 18px;
}

/*-----PROJECTS PAGE-----*/

.projects-section {
    background-image: url(../wireframes/projects-default.png);
    background-size: cover;
    width: 100vw;
    padding-bottom: 10%;
}

.projects_blurb {
    padding: 100px 0px 50px 0px;
    text-align: center;
}

.first_project_row {
    padding: 0px 0px 50px 0px;
}


/*-----CONTACT PAGE-----*/

.contact-section {
    background-image: url(../wireframes/contact.png);
    background-size: cover;
    width: 100vw;
    padding-bottom: 40%;
}